/* Defining variables for colors */
:root {
  --light-color: #fffff4;
  --dark-color: #202020;
  --highlight-color: orange;
}

/* Applying universal styling */
* {
  margin: 0;
  padding: 0;
  /* outline: 1px solid black; */
  box-sizing: border-box;
}

/* Styling for general elements */
body {
  background-color: var(--light-color);
  color: var(--dark-color);
  font-family: "Public Sans", Helvetica, sans-serif;
  font-size: 16px;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 1vmax;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

h1 {
  margin: 3%;
}

button {
  background-color: var(--highlight-color);
  padding: 0.25em 0.5em;
  max-width: fit-content;
  border: var(--dark-color) 0.5px solid;
  border-radius: 0.5em;
  margin: 0.5em;
  cursor: pointer;

}

button:hover {
  background-color: coral;
}

button:active {
  background-color: chocolate;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60vw;
  background-color: #f0f0e6;
  padding: 2vmax;
}

.card p {
  margin: 1%
}

/* Styling for highscores modal */
#view-highscores {
  margin: 0;
}

.modal {
  display: block;
  position: fixed;
  z-index: 3;
  margin: auto;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal .card {
  position: relative;
  margin: 10vh auto;
  overflow: auto;
}

i {
  position: absolute;
  top: 1em;
  right: 1em;
  font-size: 24px;
  color: var(--dark-color);
}

i:hover {
  color: var(--highlight-color);
  cursor: pointer;
}

.modal li {
  padding: 0.25em;
  outline: 1px solid #666666;
  margin-top: 1px;
}

.modal li:nth-child(odd) {
  background-color: rgba(265,165,0,0.6);
}

.modal button {
  margin: auto;
}

/* Styling for the start content */
#start-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#start-btn {
  font-size: 16px;
}

/* Styling for questions */
#quiz-content {
  display: flex;
  flex-direction: column;
}

ul {
  margin: 2% 4%;
  list-style-type: none;
}

li {
  margin: 0;
}

li button {
  font-family: monospace;
  font-size: 15px;
}

/* Styling for the end screen of the quiz */
#end-content {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 3%;
}

form input[type="text"] {
  margin: 0.5em;
}

form input[type="submit"] {
  background-color: var(--highlight-color);
  padding: 0.25em 0.5em;
  max-width: fit-content;
  border: var(--dark-color) 0.5px solid;
  border-radius: 0.5em;
}

form input[type="submit"]:hover {
  background-color: coral;
}

.card h2 {
  font-weight: 400;
  margin: 0 0 3% 0;
}

/* Styling for the solution notification below each question */
#solution-content {
  display: none;
}

#solution-text {
  margin-top: 3%;
  line-height: 2em;
}
